We've often needed to count the number of records that matched a particular SQL query.

In [1]:
# Import sqlite3.
import sqlite3

In [2]:
# Initialize a connection to factbook.db using the connect() method, and store it in the variable conn.
conn = sqlite3.connect('factbook.db')

In [3]:
# Use conn, the execute() method, and the fetchall() method to fetch all of the records in the facts table.
# Assign the result to the facts variable.
facts = conn.execute("SELECT * FROM facts;").fetchall()

# Print out the facts variable.
print(facts)

# Count the number of items in facts, and assign the result to facts_count.
facts_count = len(facts)
print("facts_count = %d"%facts_count)

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51, '2015-11-01 13:19:49.461734', '2015-11-01 13:19:49.461734'), (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3, '2015-11-01 13:19:54.431082', '2015-11-01 13:19:54.431082'), (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, '2015-11-01 13:19:59.961286', '2015-11-01 13:19:59.961286'), (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0, '2015-11-01 13:20:03.659945', '2015-11-01 13:20:03.659945'), (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46, '2015-11-01 13:20:08.625072', '2015-11-01 13:20:08.625072'), (6, 'ac', 'Antigua and Barbuda', 442, 442, 0, 92436, 1.24, 15.85, 5.69, 2.21, '2015-11-01 13:20:13.049627', '2015-11-01 13:20:13.049627'), (7, 'ar', 'Argentina', 2780400, 2736690, 43710, 43431886, 0.93, 16.64, 7.33, 0.0, '2015-11-01 13:20:18.233063', '2015-11-01 13:20:18.233063'), (8, 'am', 'Armenia', 29743, 28203, 1540, 3056382, 0.15, 13.61, 9.34, 5.8, '2015-11-01 13:20:23.048753', '2015-11-01 13:20:23.048753'), (9, 'as', 'Australia', 7741220, 7682300, 58920, 22751014, 1.07, 12.15, 7.14, 5.65, '2015-11-01 13:20:28.186341', '2015-11-01 13:20:28.186341'), (10, 'au', 'Austria', 83871, 82445, 1426, 8665550, 0.55, 9.41, 9.42, 5.56, '2015-11-01 13:20:33.093597', '2015-11-01 13:20:33.093597'), (11, 'aj', 'Azerbaijan', 86600, 82629, 3971, 9780780, 0.96, 16.64, 7.07, 0.0, '2015-11-01 13:20:38.210262', '2015-11-01 13:20:38.210262'), (12, 'bf', 'Bahamas, The', 13880, 10010, 3870, 324597, 0.85, 15.5, 7.05, 0.0, '2015-11-01 13:20:42.754219', '2015-11-01 13:20:42.754219'), (13, 'ba', 'Bahrain', 760, 760, 0, 1346613, 2.41, 13.66, 2.69, 13.09, '2015-11-01 13:20:47.686896', '2015-11-01 13:20:47.686896'), (14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46, '2015-11-01 13:20:52.753843', '2015-11-01 13:20:52.753843'), (15, 'bb', 'Barbados', 430, 430, 0, 290604, 0.31, 11.87, 8.44, 0.3, '2015-11-01 13:20:57.219984', '2015-11-01 13:20:57.219984'), (16, 'bo', 'Belarus', 207600, 202900, 4700, 9589689, 0.2, 10.7, 13.36, 0.7, '2015-11-01 13:21:02.382438', '2015-11-01 13:21:02.382438'), (17, 'be', 'Belgium', 30528, 30278, 250, 11323973, 0.76, 11.41, 9.63, 5.87, '2015-11-01 13:21:07.317024', '2015-11-01 13:21:07.317024'), (18, 'bh', 'Belize', 22966, 22806, 160, 347369, 1.87, 24.68, 5.97, 0.0, '2015-11-01 13:21:12.255851', '2015-11-01 13:21:12.255851'), (19, 'bn', 'Benin', 112622, 110622, 2000, 10448647, 2.78, 36.02, 8.21, 0.0, '2015-11-01 13:21:17.437291', '2015-11-01 13:21:17.437291'), (20, 'bt', 'Bhutan', 38394, 38394, 0, 741919, 1.11, 17.78, 6.69, 0.0, '2015-11-01 13:21:21.942736', '2015-11-01 13:21:21.942736'), (21, 'bl', 'Bolivia', 1098581, 1083301, 15280, 10800882, 1.56, 22.76, 6.52, 0.62, '2015-11-01 13:21:27.041970', '2015-11-01 13:21:27.041970'), (22, 'bk', 'Bosnia and Herzegovina', 51197, 51187, 10, 3867055, 0.13, 8.87, 9.75, 0.38, '2015-11-01 13:21:32.191346', '2015-11-01 13:21:32.191346'), (23, 'bc', 'Botswana', 581730, 566730, 15000, 2182719, 1.21, 20.96, 13.39, 4.56, '2015-11-01 13:21:36.883097', '2015-11-01 13:21:36.883097'), (24, 'br', 'Brazil', 8515770, 8358140, 157630, 204259812, 0.77, 14.46, 6.58, 0.14, '2015-11-01 13:21:42.799461', '2015-11-01 13:21:42.799461'), (25, 'bx', 'Brunei', 5765, 5265, 500, 429646, 1.62, 17.32, 3.52, 2.43, '2015-11-01 13:21:47.136638', '2015-11-01 13:21:47.136638'), (26, 'bu', 'Bulgaria', 110879, 108489, 2390, 7186893, 0.58, 8.92, 14.44, 0.29, '2015-11-01 13:21:52.018824', '2015-11-01 13:21:52.018824'), (27, 'uv', 'Burkina Faso', 274200, 273800, 400, 18931686, 3.03, 42.03, 11.72, 0.0, '2015-11-01 13:21:56.976083', '2015-11-01 13:21:56.976083'), (28, 'bm', 'Burma', 676578, 653508, 23070, 56320206, 1.01, 18.39, 7.96, 0.28, '2015-11-01 13:22:03.329538', '2015-11-01 13:22:03.329538'), (29, 'by', 'Burundi', 27830, 25680, 2150, 10742276, 3.28, 42.01, 9.27, 0.0, '2015-11-01 13:22:08.382756', '2015-11-01 13:22:08.382756'), (30, 'cb', 'Cambodia', 181035, 176515, 4520, 15708756, 1.58, 23.83, 7.68, 0.32, '2015-11-01 13:22:16.286410', '2015-11-01 13:22:16.286410'), (31, 'cm', 'Cameroon', 475440, 472710, 2730, 23739218, 2.59, 36.17, 10.11, 0.15, '2015-11-01 13:22:21.712582', '2015-11-01 13:22:21.712582'), (32, 'ca', 'Canada', 9984670, 9093507, 891163, 35099836, 0.75, 10.28, 8.42, 5.66, '2015-11-01 13:22:27.097513', '2015-11-01 13:22:27.097513'), (33, 'cv', 'Cabo Verde', 4033, 4033, 0, 545993, 1.36, 20.33, 6.11, 0.63, '2015-11-01 13:22:32.226723', '2015-11-01 13:22:32.226723'), (34, 'ct', 'Central African Republic', 622984, 622984, 0, 5391539, 2.13, 35.08, 13.8, 0.0, '2015-11-01 13:22:37.631610', '2015-11-01 13:22:37.631610'), (35, 'cd', 'Chad', None, 1259200, 24800, 11631456, 1.89, 36.6, 14.28, 3.45, '2015-11-01 13:22:42.673800', '2015-11-01 13:22:42.673800'), (36, 'ci', 'Chile', 756102, 743812, 12290, 17508260, 0.82, 13.83, 6.0, 0.34, '2015-11-01 13:22:48.033636', '2015-11-01 13:22:48.033636'), (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44, '2015-11-01 13:22:53.813142', '2015-11-01 13:22:53.813142'), (38, 'co', 'Colombia', 1138910, 1038700, 100210, 46736728, 1.04, 16.47, 5.4, 0.64, '2015-11-01 13:22:59.368304', '2015-11-01 13:22:59.368304'), (39, 'cn', 'Comoros', 2235, 2235, 0, 780971, 1.77, 27.84, 7.57, 2.53, '2015-11-01 13:23:04.316439', '2015-11-01 13:23:04.316439'), (40, 'cg', 'Congo, Democratic Republic of the', 2344858, 2267048, 77810, 79375136, 2.45, 34.88, 10.07, 0.27, '2015-11-01 13:23:09.778305', '2015-11-01 13:23:09.778305'), (41, 'cf', 'Congo, Republic of the', 342000, 341500, 500, 4755097, 2.0, 35.85, 10.0, 5.9, '2015-11-01 13:23:15.148002', '2015-11-01 13:23:15.148002'), (42, 'cs', 'Costa Rica', 51100, 51060, 40, 4814144, 1.22, 15.91, 4.55, 0.83, '2015-11-01 13:23:20.788229', '2015-11-01 13:23:20.788229'), (43, 'iv', "Cote d'Ivoire", 322463, 318003, 4460, 23295302, 1.91, 28.67, 9.55, 0.0, '2015-11-01 13:23:26.050986', '2015-11-01 13:23:26.050986'), (44, 'hr', 'Croatia', 56594, 55974, 620, 4464844, 0.13, 9.45, 12.18, 1.39, '2015-11-01 13:23:31.420107', '2015-11-01 13:23:31.420107'), (45, 'cu', 'Cuba', 110860, 109820, 1040, 11031433, 0.15, 9.9, 7.72, 3.66, '2015-11-01 13:23:36.605811', '2015-11-01 13:23:36.605811'), (46, 'cy', 'Cyprus', 9251, 9241, 10, 1189197, 1.43, 11.41, 6.62, 9.48, '2015-11-01 13:23:43.214032', '2015-11-01 13:23:43.214032'), (47, 'ez', 'Czech Republic', 78867, 77247, 1620, 10644842, 0.16, 9.63, 10.34, 2.33, '2015-11-01 13:23:48.556068', '2015-11-01 13:23:48.556068'), (48, 'da', 'Denmark', 43094, 42434, 660, 5581503, 0.22, 10.27, 10.25, 2.2, '2015-11-01 13:23:53.727410', '2015-11-01 13:23:53.727410'), (49, 'dj', 'Djibouti', 23200, 23180, 20, 828324, 2.2, 23.65, 7.73, 6.06, '2015-11-01 13:23:58.674323', '2015-11-01 13:23:58.674323'), (50, 'do', 'Dominica', 751, 751, 0, 73607, 0.21, 15.41, 7.91, 5.38, '2015-11-01 13:24:03.301649', '2015-11-01 13:24:03.301649'), (51, 'dr', 'Dominican Republic', 48670, 48320, 350, 10478756, 1.23, 18.73, 4.55, 1.91, '2015-11-01 13:24:08.304893', '2015-11-01 13:24:08.304893'), (52, 'ec', 'Ecuador', 283561, 276841, 6720, 15868396, 1.35, 18.51, 5.06, 0.0, '2015-11-01 13:24:13.633296', '2015-11-01 13:24:13.633296'), (53, 'eg', 'Egypt', 1001450, 995450, 6000, 88487396, 1.79, 22.9, 4.77, 0.19, '2015-11-01 13:24:19.104564', '2015-11-01 13:24:19.104564'), (54, 'es', 'El Salvador', 21041, 20721, 320, 6141350, 0.25, 16.46, 5.69, 8.28, '2015-11-01 13:24:24.374752', '2015-11-01 13:24:24.374752'), (55, 'ek', 'Equatorial Guinea', 28051, 28051, 0, 740743, 2.51, 33.31, 8.19, 0.0, '2015-11-01 13:24:29.392349', '2015-11-01 13:24:29.392349'), (56, 'er', 'Eritrea', 117600, 101000, 16600, 6527689, 2.25, 30.0, 7.52, 0.0, '2015-11-01 13:24:34.211837', '2015-11-01 13:24:34.211837'), (57, 'en', 'Estonia', 45228, 42388, 2840, 1265420, 0.55, 10.51, 12.4, 3.6, '2015-11-01 13:24:39.348509', '2015-11-01 13:24:39.348509'), (58, 'et', 'Ethiopia', 1104300, None, 104300, 99465819, 2.89, 37.27, 8.19, 0.22, '2015-11-01 13:24:44.456431', '2015-11-01 13:24:44.456431'), (59, 'fj', 'Fiji', 18274, 18274, 0, 909389, 0.67, 19.43, 6.04, 6.75, '2015-11-01 13:24:49.212655', '2015-11-01 13:24:49.212655'), (60, 'fi', 'Finland', 338145, 303815, 34330, 5476922, 0.4, 10.72, 9.83, 3.1, '2015-11-01 13:24:54.260412', '2015-11-01 13:24:54.260412'), (61, 'fr', 'France', 643801, 640427, 3374, 66553766, 0.43, 12.38, 9.16, 1.09, '2015-11-01 13:25:00.853401', '2015-11-01 13:25:00.853401'), (62, 'gb', 'Gabon', 267667, 257667, 10000, 1705336, 1.93, 34.49, 13.12, 2.03, '2015-11-01 13:25:05.823937', '2015-11-01 13:25:05.823937'), (63, 'ga', 'Gambia, The', 11300, 10120, 1180, 1967709, 2.16, 30.86, 7.15, 2.12, '2015-11-01 13:25:10.760298', '2015-11-01 13:25:10.760298'), (64, 'gg', 'Georgia', 69700, 69700, 0, 4931226, 0.08, 12.74, 10.82, 2.7, '2015-11-01 13:25:16.492238', '2015-11-01 13:25:16.492238'), (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24, '2015-11-01 13:25:21.942190', '2015-11-01 13:25:21.942190'), (66, 'gh', 'Ghana', 238533, 227533, 11000, 26327649, 2.18, 31.09, 7.22, 2.02, '2015-11-01 13:25:27.116329', '2015-11-01 13:25:27.116329'), (67, 'gr', 'Greece', 131957, 130647, 1310, 10775643, 0.01, 8.66, 11.09, 2.32, '2015-11-01 13:25:32.471183', '2015-11-01 13:25:32.471183'), (68, 'gj', 'Grenada', 344, 344, 0, 110694, 0.48, 16.03, 8.08, 3.13, '2015-11-01 13:25:36.974366', '2015-11-01 13:25:36.974366'), (69, 'gt', 'Guatemala', 108889, 107159, 1730, 14918999, 1.82, 24.89, 4.77, 1.97, '2015-11-01 13:25:42.434045', '2015-11-01 13:25:42.434045'), (70, 'gv', 'Guinea', 245857, 245717, 140, 11780162, 2.63, 35.74, 9.46, 0.0, '2015-11-01 13:25:47.374145', '2015-11-01 13:25:47.374145'), (71, 'pu', 'Guinea-Bissau', 36125, 28120, 8005, 1726170, 1.91, 33.38, 14.33, 0.0, '2015-11-01 13:25:52.373936', '2015-11-01 13:25:52.373936'), (72, 'gy', 'Guyana', 214969, 196849, 18120, 735222, 0.02, 15.59, 7.32, 8.06, '2015-11-01 13:25:57.634107', '2015-11-01 13:25:57.634107'), (73, 'ha', 'Haiti', 27750, 27560, 190, 10110019, 1.17, 22.31, 7.83, 2.76, '2015-11-01 13:26:03.555187', '2015-11-01 13:26:03.555187'), (74, 'ho', 'Honduras', 112090, 111890, 200, 8746673, 1.68, 23.14, 5.17, 1.16, '2015-11-01 13:26:08.714864', '2015-11-01 13:26:08.714864'), (75, 'hu', 'Hungary', 93028, 89608, 3420, 9897541, 0.22, 9.16, 12.73, 1.33, '2015-11-01 13:26:14.152686', '2015-11-01 13:26:14.152686'), (76, 'ic', 'Iceland', 103000, 100250, 2750, 331918, 1.21, 13.91, 6.28, 4.43, '2015-11-01 13:26:19.047094', '2015-11-01 13:26:19.047094'), (77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04, '2015-11-01 13:26:24.788193', '2015-11-01 13:26:24.788193'), (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16, '2015-11-01 13:26:30.435758', '2015-11-01 13:26:30.435758'), (79, 'ir', 'Iran', 1648195, 1531595, 116600, 81824270, 1.2, 17.99, 5.94, 0.07, '2015-11-01 13:26:36.034995', '2015-11-01 13:26:36.034995'), (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62, '2015-11-01 13:26:41.627918', '2015-11-01 13:26:41.627918'), (81, 'ei', 'Ireland', 70273, 68883, 1390, 4892305, 1.25, 14.84, 6.48, 4.09, '2015-11-01 13:26:46.857349', '2015-11-01 13:26:46.857349'), (82, 'is', 'Israel', 20770, 20330, 440, 8049314, 1.56, 18.48, 5.15, 2.24, '2015-11-01 13:26:52.148530', '2015-11-01 13:26:52.148530'), (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1, '2015-11-01 13:26:58.014646', '2015-11-01 13:26:58.014646'), (84, 'jm', 'Jamaica', 10991, 10831, 160, 2950210, 0.68, 18.16, 6.7, 4.66, '2015-11-01 13:27:02.933921', '2015-11-01 13:27:02.933921'), (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0, '2015-11-01 13:27:08.040081', '2015-11-01 13:27:08.040081'), (86, 'jo', 'Jordan', 89342, 88802, 540, 8117564, 0.83, 25.37, 3.79, 13.24, '2015-11-01 13:27:14.033319', '2015-11-01 13:27:14.033319'), (87, 'kz', 'Kazakhstan', 2724900, 2699700, 25200, 18157122, 1.14, 19.15, 8.21, 0.41, '2015-11-01 13:27:19.383522', '2015-11-01 13:27:19.383522'), (88, 'ke', 'Kenya', 580367, 569140, 11227, 45925301, 1.93, 26.4, 6.89, 0.22, '2015-11-01 13:27:24.706164', '2015-11-01 13:27:24.706164'), (89, 'kr', 'Kiribati', 811, 811, 0, 105711, 1.15, 21.46, 7.12, 2.87, '2015-11-01 13:27:29.152429', '2015-11-01 13:27:29.152429'), (90, 'kn', 'Korea, North', 120538, 120408, 130, 24983205, 0.53, 14.52, 9.21, 0.04, '2015-11-01 13:27:34.224496', '2015-11-01 13:27:34.224496'), (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0, '2015-11-01 13:27:39.881765', '2015-11-01 13:27:39.881765'), (92, 'kv', 'Kosovo', 10887, 10887, 0, 1870981, None, None, None, None, '2015-11-01 13:27:43.834473', '2015-11-01 13:27:43.834473'), (93, 'ku', 'Kuwait', 17818, 17818, 0, 2788534, 1.62, 19.91, 2.18, 1.58, '2015-11-01 13:27:48.601430', '2015-11-01 13:27:48.601430'), (94, 'kg', 'Kyrgyzstan', 199951, 191801, 8150, 5664939, 1.11, 22.98, 6.65, 5.22, '2015-11-01 13:27:53.250053', '2015-11-01 13:27:53.250053'), (95, 'la', 'Laos', 236800, 230800, 6000, 6911544, 1.55, 24.25, 7.63, 1.09, '2015-11-01 13:27:57.793263', '2015-11-01 13:27:57.793263'), (96, 'lg', 'Latvia', 64589, 62249, 2340, 1986705, 1.06, 10.0, 14.31, 6.26, '2015-11-01 13:28:02.736587', '2015-11-01 13:28:02.736587'), (97, 'le', 'Lebanon', 10400, 10230, 170, 6184701, 0.86, 14.59, 4.88, 1.1, '2015-11-01 13:28:08.025061', '2015-11-01 13:28:08.025061'), (98, 'lt', 'Lesotho', 30355, 30355, 0, 1947701, 0.32, 25.47, 14.89, 7.36, '2015-11-01 13:28:12.551085', '2015-11-01 13:28:12.551085'), (99, 'li', 'Liberia', 111369, 96320, 15049, 4195666, 2.47, 34.41, 9.69, 0.0, '2015-11-01 13:28:17.286151', '2015-11-01 13:28:17.286151'), (100, 'ly', 'Libya', 1759540, 1759540, 0, 6411776, 2.23, 18.03, 3.58, 7.8, '2015-11-01 13:28:22.197205', '2015-11-01 13:28:22.197205'), (101, 'ls', 'Liechtenstein', 160, 160, 0, 37624, 0.84, 10.45, 7.12, 5.08, '2015-11-01 13:28:25.748312', '2015-11-01 13:28:25.748312'), (102, 'lh', 'Lithuania', 65300, 62680, 2620, 2884433, 1.04, 10.1, 14.27, 6.27, '2015-11-01 13:28:31.246995', '2015-11-01 13:28:31.246995'), (103, 'lu', 'Luxembourg', 2586, 2586, 0, 570252, 2.13, 11.37, 7.24, 17.16, '2015-11-01 13:28:35.879147', '2015-11-01 13:28:35.879147'), (104, 'mk', 'Macedonia', 25713, 25433, 280, 2096015, 0.2, 11.55, 9.08, 0.48, '2015-11-01 13:28:40.693382', '2015-11-01 13:28:40.693382'), (105, 'ma', 'Madagascar', 587041, 581540, 5501, 23812681, 2.58, 32.61, 6.81, 0.0, '2015-11-01 13:28:45.650398', '2015-11-01 13:28:45.650398'), (106, 'mi', 'Malawi', 118484, 94080, 24404, 17964697, 3.32, 41.56, 8.41, 0.0, '2015-11-01 13:28:50.239559', '2015-11-01 13:28:50.239559'), (107, 'my', 'Malaysia', 329847, 328657, 1190, 30513848, 1.44, 19.71, 5.03, 0.33, '2015-11-01 13:28:55.500407', '2015-11-01 13:28:55.500407'), (108, 'mv', 'Maldives', 298, 298, 0, 393253, 0.08, 15.75, 3.89, 12.68, '2015-11-01 13:29:00.393682', '2015-11-01 13:29:00.393682'), (109, 'ml', 'Mali', 1240192, 1220190, 20002, 16955536, 2.98, 44.99, 12.89, 2.26, '2015-11-01 13:29:05.487047', '2015-11-01 13:29:05.487047'), (110, 'mt', 'Malta', 316, 316, 0, 413965, 0.31, 10.18, 9.09, 1.98, '2015-11-01 13:29:10.056831', '2015-11-01 13:29:10.056831'), (111, 'rm', 'Marshall Islands', 181, 181, 0, 72191, 1.66, 25.6, 4.21, 4.83, '2015-11-01 13:29:13.841635', '2015-11-01 13:29:13.841635'), (112, 'mr', 'Mauritania', 1030700, 1030700, 0, 3596702, 2.23, 31.34, 8.2, 0.83, '2015-11-01 13:29:18.787357', '2015-11-01 13:29:18.787357'), (113, 'mp', 'Mauritius', 2040, 2030, 10, 1339827, 0.64, 13.29, 6.91, 0.0, '2015-11-01 13:29:23.365611', '2015-11-01 13:29:23.365611'), (114, 'mx', 'Mexico', 1964375, 1943945, 20430, 121736809, 1.18, 18.78, 5.26, 1.68, '2015-11-01 13:29:28.845230', '2015-11-01 13:29:28.845230'), (115, 'fm', 'Micronesia, Federated States of', 702, 702, 0, 105216, 0.46, 20.54, 4.23, 20.93, '2015-11-01 13:29:32.947601', '2015-11-01 13:29:32.947601'), (116, 'md', 'Moldova', 33851, 32891, 960, 3546847, 1.03, 12.0, 12.59, 9.67, '2015-11-01 13:29:38.300730', '2015-11-01 13:29:38.300730'), (117, 'mn', 'Monaco', 2, 2, 0, 30535, 0.12, 6.65, 9.24, 3.83, '2015-11-01 13:29:41.926640', '2015-11-01 13:29:41.926640'), (118, 'mg', 'Mongolia', 1564116, 1553556, 10560, 2992908, 1.31, 20.25, 6.35, 0.84, '2015-11-01 13:29:46.840320', '2015-11-01 13:29:46.840320'), (119, 'mj', 'Montenegro', 13812, 13452, 360, 647073, 0.42, 10.42, 9.43, None, '2015-11-01 13:29:51.428528', '2015-11-01 13:29:51.428528'), (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36, '2015-11-01 13:29:56.754568', '2015-11-01 13:29:56.754568'), (121, 'mz', 'Mozambique', 799380, 786380, 13000, 25303113, 2.45, 38.58, 12.1, 1.98, '2015-11-01 13:30:01.471643', '2015-11-01 13:30:01.471643'), (122, 'wa', 'Namibia', 824292, 823290, 1002, 2212307, 0.59, 19.8, 13.91, 0.0, '2015-11-01 13:30:06.187817', '2015-11-01 13:30:06.187817'), (123, 'nr', 'Nauru', 21, 21, 0, 9540, 0.55, 24.95, 5.87, 13.63, '2015-11-01 13:30:09.924059', '2015-11-01 13:30:09.924059'), (124, 'np', 'Nepal', 147181, 143351, 3830, 31551305, 1.79, 20.64, 6.56, 3.86, '2015-11-01 13:30:15.197731', '2015-11-01 13:30:15.197731'), (125, 'nl', 'Netherlands', 41543, 33893, 7650, 16947904, 0.41, 10.83, 8.66, 1.95, '2015-11-01 13:30:20.205904', '2015-11-01 13:30:20.205904'), (126, 'nz', 'New Zealand', 267710, 267710, None, 4438393, 0.82, 13.33, 7.36, 2.21, '2015-11-01 13:30:25.001324', '2015-11-01 13:30:25.001324'), (127, 'nu', 'Nicaragua', 130370, 119990, 10380, 5907881, 1.0, 18.03, 5.08, 3.0, '2015-11-01 13:30:29.965060', '2015-11-01 13:30:29.965060'), (128, 'ng', 'Niger', None, 1266700, 300, 18045729, 3.25, 45.45, 12.42, 0.56, '2015-11-01 13:30:34.606095', '2015-11-01 13:30:34.606095'), (129, 'ni', 'Nigeria', 923768, 910768, 13000, 181562056, 2.45, 37.64, 12.9, 0.22, '2015-11-01 13:30:39.695455', '2015-11-01 13:30:39.695455'), (130, 'no', 'Norway', 323802, 304282, 19520, 5207689, 1.13, 12.14, 8.12, 7.25, '2015-11-01 13:30:44.570908', '2015-11-01 13:30:44.570908'), (131, 'mu', 'Oman', 309500, 309500, 0, 3286936, 2.07, 24.44, 3.36, 0.43, '2015-11-01 13:30:49.185453', '2015-11-01 13:30:49.185453'), (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54, '2015-11-01 13:30:54.514863', '2015-11-01 13:30:54.514863'), (133, 'ps', 'Palau', 459, 459, 0, 21265, 0.38, 11.05, 7.99, 0.71, '2015-11-01 13:30:58.370030', '2015-11-01 13:30:58.370030'), (134, 'pm', 'Panama', 75420, 74340, 1080, 3657024, 1.32, 18.32, 4.81, 0.28, '2015-11-01 13:31:03.548926', '2015-11-01 13:31:03.548926'), (135, 'pp', 'Papua New Guinea', 462840, 452860, 9980, 6672429, 1.78, 24.38, 6.53, 0.0, '2015-11-01 13:31:08.511762', '2015-11-01 13:31:08.511762'), (136, 'pa', 'Paraguay', 406752, 397302, 9450, 6783272, 1.16, 16.37, 4.68, 0.07, '2015-11-01 13:31:13.415534', '2015-11-01 13:31:13.415534'), (137, 'pe', 'Peru', 1285216, 1279996, 5220, 30444999, 0.97, 18.28, 6.01, 2.53, '2015-11-01 13:31:18.485084', '2015-11-01 13:31:18.485084'), (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09, '2015-11-01 13:31:23.643550', '2015-11-01 13:31:23.643550'), (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46, '2015-11-01 13:31:29.189900', '2015-11-01 13:31:29.189900'), (140, 'po', 'Portugal', 92090, 91470, 620, 10825309, 0.09, 9.27, 11.02, 2.67, '2015-11-01 13:31:34.123130', '2015-11-01 13:31:34.123130'), (141, 'qa', 'Qatar', 11586, 11586, 0, 2194817, 3.07, 9.84, 1.53, 22.39, '2015-11-01 13:31:38.827541', '2015-11-01 13:31:38.827541'), (142, 'ro', 'Romania', 238391, 229891, 8500, 21666350, 0.3, 9.14, 11.9, 0.24, '2015-11-01 13:31:43.927783', '2015-11-01 13:31:43.927783'), (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69, '2015-11-01 13:31:49.438160', '2015-11-01 13:31:49.438160'), (144, 'rw', 'Rwanda', 26338, 24668, 1670, 12661733, 2.56, 33.75, 8.96, 0.85, '2015-11-01 13:31:54.249930', '2015-11-01 13:31:54.249930'), (145, 'sc', 'Saint

SQL has a **COUNT** aggregation function that allows us to count the number of records in a table.

In [4]:
# Count the number of rows in the facts table.
conn.execute("SELECT COUNT(*) FROM facts;").fetchall()

[(261,)]

In [5]:
# Count the total number of non-null values in the area_water column. 
conn.execute("SELECT COUNT(area_water) FROM facts;").fetchall()

[(243,)]

In [6]:
# Count the number of non-null values in the birth_rate column of the facts table.
result = conn.execute("SELECT COUNT(birth_rate) FROM facts;").fetchall()

# Extract the integer value from the result, and assign it to birth_rate_count.
birth_rate_count = result[0][0]

# Display birth_rate_count using the print() function.
print(birth_rate_count)

228

SQL has other aggregation functions. **MIN** and **MAX**, for example, find the minimum and maximum values in a column.

In [7]:
# Find the highest value in the birth_rate column of the facts table.
conn.execute("SELECT MAX(birth_rate) FROM facts;").fetchall()

[(45.45,)]

In [8]:
# Use the MIN function to find the minimum value in the population_growth column.
min_population_growth = conn.execute("SELECT MIN(population_growth) FROM facts;").fetchall()[0][0]

print(min_population_growth)

0.0

In [9]:
# Use the MAX function to find the maximum value in the death_rate column.
max_death_rate = conn.execute("SELECT MAX(death_rate) FROM facts;").fetchall()[0][0]

print(max_death_rate)

14.89

**SUM** finds the total of all of the values in a numeric column. **AVG** finds the mean of all of the non-null values in a column.

In [10]:
conn.execute("SELECT SUM(birth_rate) FROM facts;").fetchall()

[(4406.909999999998,)]

In [11]:
conn.execute("SELECT AVG(birth_rate) FROM facts;").fetchall()

[(19.32855263157894,)]

In [12]:
# Use the SUM function to find the sum of the area_land column.
total_land_area = conn.execute("SELECT SUM(area_land) FROM facts;").fetchall()[0][0]

print(total_land_area)

128584834

In [13]:
# Use the AVG function to find the mean of the area_water column.
avg_water_area = conn.execute("SELECT AVG(area_water) FROM facts;").fetchall()[0][0]

print(avg_water_area)

19067.59259259259

In [14]:
# Combine multiple aggregation functions into a single query.
conn.execute("SELECT COUNT(*), SUM(death_rate), AVG(population_growth) FROM facts;").fetchall()

[(261, 1783.2500000000002, 1.2009745762711865)]

In [15]:
result_turple = conn.execute("SELECT AVG(population), SUM(population), MAX(birth_rate) FROM facts;").fetchall()[0]

print(result_turple)

mean_pop = result_turple[0];
sum_pop = result_turple[1];
max_birth_rate = result_turple[2];

(62094928.32231405, 15026972654, 45.45)

In [16]:
# Count the number of rows where population is greater than 5000000.
conn.execute("SELECT COUNT(*) FROM facts WHERE population>5000000;").fetchall()

[(122,)]

In [17]:
# Calculate the mean population_growth for countries with a population greater than 10000000.
population_growth = conn.execute("SELECT AVG(population_growth) FROM facts WHERE population>10000000;").fetchall()[0][0]

print(population_growth)

1.4572222222222226

In [18]:
# This query will return all of the unique values in the name column of facts.
# It won't return any duplicate values.
conn.execute("SELECT DISTINCT name FROM facts;").fetchmany(10)

[('Afghanistan',),
 ('Albania',),
 ('Algeria',),
 ('Andorra',),
 ('Angola',),
 ('Antigua and Barbuda',),
 ('Argentina',),
 ('Armenia',),
 ('Australia',),
 ('Austria',)]

In [19]:
# The query will select the unique combinations of values in the population and name columns from facts.
conn.execute("SELECT DISTINCT name, population FROM facts;").fetchmany(10)

[('Afghanistan', 32564342),
 ('Albania', 3029278),
 ('Algeria', 39542166),
 ('Andorra', 85580),
 ('Angola', 19625353),
 ('Antigua and Barbuda', 92436),
 ('Argentina', 43431886),
 ('Armenia', 3056382),
 ('Australia', 22751014),
 ('Austria', 8665550)]

In [20]:
# Select all of the distinct values in the birth_rate column of the facts table.
unique_birth_rates = conn.execute("SELECT DISTINCT birth_rate FROM facts;").fetchmany(10)

print(unique_birth_rates)

[(38.57,), (12.92,), (23.67,), (8.13,), (38.78,), (15.85,), (16.64,), (13.61,), (12.15,), (9.41,)]

In [21]:
# The query will count all of the distinct values in the population column.
conn.execute("SELECT COUNT(DISTINCT population) FROM facts;").fetchall()

[(241,)]

In [22]:
# This query will find the mean of all of the distinct values in the birth_rate column.
conn.execute("SELECT AVG(DISTINCT birth_rate) FROM facts;").fetchall()

[(19.563009259259253,)]

In [23]:
# Find the average of all of the distinct values in the birth_rate column where population is greater than 20000000.
average_birth_rate = conn.execute("SELECT AVG(DISTINCT birth_rate) FROM facts WHERE population>20000000;").fetchall()[0][0]

print(average_birth_rate)

20.43473684210527

In [24]:
# Find the sum of all of the distinct values in the population column where area_land is greater than 1000000.
sum_population = conn.execute("SELECT SUM(DISTINCT population) FROM facts WHERE area_land>1000000;").fetchall()[0][0]

print(sum_population)

4233873015

In [25]:
# The query will divide each value in the population column by 1000000, and return the result.
# Because the population column contains integers and we're dividing by an integer, 
# the results will be integers as well.
conn.execute("SELECT population/1000000 FROM facts;").fetchmany(10)

[(32,), (3,), (39,), (0,), (19,), (0,), (43,), (3,), (22,), (8,)]

In [26]:
# The query will return a series of floats, instead of rounding the values to integers.
conn.execute("SELECT population/1000000.0 FROM facts;").fetchmany(10)

[(32.564342,),
 (3.029278,),
 (39.542166,),
 (0.08558,),
 (19.625353,),
 (0.092436,),
 (43.431886,),
 (3.056382,),
 (22.751014,),
 (8.66555,)]

Here are the rules for what an arithmetic operation will return:
* Two floats - Returns a float (ex. SELECT birth_rate / 1000000.0 FROM facts;)
* A float and an integer - Returns a float (ex. SELECT population / 1000000.0 FROM facts;)
* Two integers - Returns an integer (ex. SELECT population / 1000000 FROM facts;)

In [27]:
# Use arithmetic operators in a SQL query to express population_growth in terms of millions.
population_growth_millions = conn.execute("SELECT population_growth/1000000.0 FROM facts;").fetchmany(10)

print(population_growth_millions)

[(2.32e-06,), (3e-07,), (1.8400000000000002e-06,), (1.2e-07,), (2.7799999999999996e-06,), (1.24e-06,), (9.300000000000001e-07,), (1.5e-07,), (1.0700000000000001e-06,), (5.5e-07,)]

In [28]:
# The query will divide each value in the birth_rate column by the corresponding value in the death_rate column.
conn.execute("SELECT birth_rate/death_rate FROM facts;").fetchmany(10)

[(2.776817854571634,),
 (1.9635258358662613,),
 (5.491879350348029,),
 (1.168103448275862,),
 (3.3751087902523933,),
 (2.785588752196836,),
 (2.27012278308322,),
 (1.4571734475374731,),
 (1.7016806722689077,),
 (0.9989384288747346,)]

In [29]:
# The query will add together the birth_rate and migration_rate columns, then divide by the death_rate column.
conn.execute("SELECT (birth_rate+migration_rate)/death_rate FROM facts;").fetchmany(10)

[(2.8855291576673863,),
 (2.465045592705167,),
 (5.705336426914155,),
 (1.168103448275862,),
 (3.4151436031331595,),
 (3.173989455184534,),
 (2.27012278308322,),
 (2.0781584582441113,),
 (2.492997198879552,),
 (1.589171974522293,)]

In [30]:
# Use a SQL query to compute the population of each country a year from now.
next_year_population = conn.execute("SELECT population*(1+population_growth/100.0) FROM facts;").fetchmany(10)

print(next_year_population)

[(33319834.734400004,), (3038365.834,), (40269741.8544,), (85682.69600000001,), (20170937.8134,), (93582.2064,), (43835802.5398,), (3060966.5730000003,), (22994449.849799998,), (8713210.525,)]

It's often advantageous to do these computations in the SQL database instead of a Python environment because it's faster to code and execute.